/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    height: 100%;
    min-height: 100%;
}

body {
  background: #fff;
  color: #444;
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body#pagina-login {
  background: #f1f1f1;
  }

a {
  color: #007bff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* CARROSSEL CSS */

.slider img {
    width: 100%; 
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #007bff;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled,
#header.header-pages {
    height: 80px;
    padding: 20px 0;
    }
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: -15px 20px;
    max-height: 70px;
}

.main-pages {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
.logo {
}

@media screen and (max-width: 629px) {
  #header .logo img {
    margin: -10px 20px;
    max-height: 60px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #846219;
  padding: 10px 10px;
  transition: 0.3s;
  font-size: 16.2px;
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 300;
  letter-spacing: 5.4px;
  margin: 0 10px;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: #caae72;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  color: #004289;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #007bff;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #846219e0;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #caae72;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
    position: fixed;
    top: 10px;
    left: 25px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: left;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #E2E0B8;
  font-size: 30px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: #846219e0;
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

#section-one {
    background: #E9E9E9;
    margin-top: 80px;
    padding: 150px 0;
}

img.trena-one {
    mix-blend-mode: multiply;
}

#section-one h1 {
    font-weight: bold;
    font-size: 62.2px;
    line-height: 67px;
    display: flex;
    align-items: flex-end;
    color: #716565;
    margin-top: 85px;
    margin-left: 140px;
}


#section-two {
  background: #506FA9;
  padding: 150px 0;
}

#section-two .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 72.333333%;
    max-width: 67.333333%;
    margin-left: -125px;
    padding: 0;
}

#section-two h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 60.2px;
    line-height: 69px;
    color: #FFFFFF;
    margin-right: -150px;
    margin-top: 270px;
    margin-left: 70px;
}

#section-two h3 {
    margin-right: 0;
    margin-left: 70px;
    color: #fff;
    font-weight: 100;
}

#section-two .col-md-5 {
    margin-right: -180px;
    margin-left: 180px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #E9E9E9;
  padding: 0 0 30px 0;
  color: #716565;
  font-size: 14px;
  float: left;
  width: 100%;
  margin-top: auto;
}

#footer a {
    color: #716565;
    font-weight: 700;
}

#footer .footer-top {
  background: #004a99;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #ecf5ff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #007bff;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #0067d5;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
  color: #74b5fc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0062cc;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}

#footer .credits a {
  color: #bfddfe;
}

#footer .credits a:hover {
  color: #f1f7ff;
}

.first-colum-footer li {
    display: inline-table;
    float: left;
    margin: 0 10px 0 0;
}

.first-colum-footer h4, .second-colum-footer h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: left;
}

.first-colum-footer ul, .second-colum-footer ul {
    padding: 0;
}

.second-colum-footer li {
    display: block;
    text-align: left;
    font-size: 15px;
}
/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 768px) {
 .float-left {
    float: right!important;
  }

  .float-right {
    float: left!important;
  }

  .mobile {
    display: none;
  }
}

@media (min-width: 1400px) {
  #section-two .col-md-5 {
    margin-right: -217px;
    margin-left: 214px;
  }
}

@media (min-width: 1919px) {
  #section-two .col-md-5 {
    margin-right: -497px;
    margin-left: 450px;
  }

  #section-two h1 {
    margin-top: 370px;
  }
}

@media (max-width: 1100px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }

  form.fazer-login {
    margin: 60px 150px;
    text-align: -webkit-center;
  }
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .first-colum-footer, .second-colum-footer {
    display: flex;
    place-content: center;
    text-align-last: center;
  }

  #section-one h1 {
    font-size: 66px;
    line-height: 70px;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
  }

  #section-two {
    padding: 70px 0;
  }

  #section-two h1 {
    font-size: 47px;
    line-height: 58px;
    margin-right: 0;
    margin-top: 50px;
    margin-left: 0;
  }

  #section-two h3 {
    margin-left: 0;
  }

  #section-two .col-md-7 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0px;
    padding: 0;
  }

  #section-two img.trena-one {
    width: 80%;
    float: right;
  }

  #section-two .col-md-5 {
    margin-right: 0;
    margin-left: 0;
  }

  input[type=text] {
    margin-left: 15px;
  }

  input[type=submit] {
    background-color: #f1f1f1;
    color: #846219;
    padding: 4px 20px;
  }
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: flex;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

form {
    margin-top: 6px !important;
}

input[type=text] {
    background-color: #e8e8e8;
    width: 60%;
    height: 33px;
    padding: 0px 10px;
    margin-right: -5px;
    outline: none;
}

input[type=submit] {
    background-color: #846219;
    color: #fff;
    padding: 3px 20px;
    border: none;
    height: 33px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}